/* --- CSS RESET --- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  /*margin-bottom: 20px;*/
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- CSS RESET END --- */

/************************* 
*        STYLES          * 
*************************/

@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');


h3 {
  size: 2em;
}

body {
  font-family: "Aclonica", sans-serif;
  cursor: url("./../images/pawprint.png"), auto;
}

a {
  color: black;
  font-weight: 800;
  text-decoration: none;
}

a:hover {
  color: rgb(167, 179, 179);
}

#site-title {
  size: 2em;
}


/*ANIMATIONS */

.rotate {
  animation: rotation 5s infinite linear;
  margin-top: 15px;
  margin-left: 15px;
  width: 100px;
  height: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* END OF ANIMATIONS */

 /* MENU BAR */
nav {
  display: block;
  padding: 10px 0 0 0;
}


.nav-container div {
  display: block;
}

.nav-container img {
  width: 100px;
  height: 100px;
  padding: 0 10px;
  margin: 0;
}



nav {
  width: 100%;
  background-image: none;
}



/* The side navigation menu */


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  /*color: #818181;*/
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
i {
  font-size: 40px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 5px;
}


li {
  padding: 25px 10px 0 10px;
}




/* HOME  PAGE */

.portal-info {
  width: 100vw;
font-weight: 700;
  background-color: black;
  color:whitesmoke;
  font-family: 'Nova Mono', monospace;
  margin-bottom: 10px;
}

.random-cat {
  font-family: "Grandstander", cursive;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.random-cat-portal > div {
  width: 30%;
  height: auto;
  margin: 1%;
  /*border-radius: 10px;*/
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-cat-portal {
  font-family: "Grandstander", cursive;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* END OF HOME PAGE */

.box-shadow { 
  padding: 10px;
  margin: 5px;
  width: 70%;
  background-color: whitesmoke;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.2);
  }

 

/* API */

.cats-list {
  /*font-family: "Grandstander", cursive;*/
  border-color: white;
  border-width: 5px;
  margin-top: 10px;
  height: auto;
  overflow: auto;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cats-list > article {
  width: 30%;
  height: auto;
  margin: 1%;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cats-list > article > h3 {
  font-size: 20px;
  letter-spacing: 3px;
  color: black;
  font-family: 'Nova Mono', monospace;
}

.cats-list > article > p {
  padding-top: 5px;
  overflow: auto;
}

.cats-list > div {
  
  width: 30%;
  height: auto;
  margin: 1%;
  /*border-radius: 10px;*/
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* END OF API */

/* FAQS */

.faqs-list {
  /*font-family: "Grandstander", cursive;*/
  border-color: white;
  /*border-width: 5px;*/
  height: auto;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#q1-div, #q2-div, #q3-div, #q4-div
{
  font-size: smaller;
  padding: 3px;
}



#q1-div > a, #q2-div > a, #q3-div > a, #q4-div > a
{
  align-items: flex-end;
  font-size: x-large;
}

/*.faqs-list > div {
  width: 70%;
  height: auto;
  margin: 1%;
  /*border-radius: 10px;*/
  /*background-color: whitesmoke;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/



.faqbutton {
  height: 20px;
  margin: 5px;
  background-color: rgb(167, 179, 179);
  color: white;
  border: none;
}

.faqbutton > a

{
  background-color: rgb(167, 179, 179);
}

.faqbutton >a:hover {
  color: whitesmoke;
}

.calcAge > p {
  text-align: center;
  font-family:  'Nova Mono', monospace;
  padding-top: 10px;
}

/* END OF FAQS */



/* CAT SEARCH, LOGIN AND SIGN UP FORMS*/


.button-shadow { 
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
  0 2px 6px 0 rgba(0,0,0,0.12),
  0 4px 2px -3px rgba(0,0,0,0.2);
  }

.cat-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cat-search > button {
  width: 35%;
  height: 40px;
  font-family: 'Nova Mono', monospace;
}

.form-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-wrapper > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  margin: 5px;
  height: 30px;
  border: none;
  border-bottom: solid 2px grey;
  text-align: center;
}

input:focus {
  border-bottom: solid 2px teal;
  outline-color: teal;
}

button,
.button {
  height: 30px;
  margin: 5px;
  background-color: black;
  color: white;
  border: none;
}

button:hover,
.button.hover {
  background-color: rgb(167, 179, 179);
}

button:disabled,
.button:disabled {
  background-color: grey;
}

.message-container {
  padding: 10px;
}

/* end of LOGIN AND SIGN UP FORMS*/



/* footer */

.footer-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  width: 100vw;
}

.footer-list > span {
  font-size: 35px;
  padding: 1px;
  /*transition: 2s;*/
}
/*
.footer-list > span:hover {
  font-size: 45px;
}*/

footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
}


/* screen size = mobile */
@media (max-width: 450px) {

  .rotate {
    width: 50px;
    height: 50px;
  }


  .header-text {
    width: 85%;
  }

  .cats-list > div {
    width: 50%;
  }

.calcAge > input {
  font-size: x-small;
}




  .cats-list > article {
    width: 95%;
    height: 250px;
    margin: 10%;
  }

  .cats-list > article > p {
    size: 0.8em;
  }
  
  .cat-search > button {
    width: 70%;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .random-cat-portal > div {
    width: 70%;
    height: auto;
    margin: 1%;
    /*border-radius: 10px;*/
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* end of screen size = mobile */



/* screen size = tablet */
@media screen and (min-width: 451px) and (max-width: 750px) {
  .header-text {
    width: 85%;
  }


  .cats-list > div { 
    width: 50%;
  }

  .cats-list > article {
    width: 40%;
    height: 250px;
    margin: 1%;
  }

  .cats-list > article > p {
    size: 0.8em;
  }

  .random-cat-portal > div {
    width: 45%;
    height: auto;
 }
}

/* end of screen size = tablet */
 /* faqs flip */


 .scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card  p {
  font-weight: 700;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /*line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px; */
  backface-visibility: hidden;
}


.card__face--front {
  background-image: url(./images/grey-wallpaper.jpg);
}

.card__face--back {
  background: whitesmoke;
  font-size: smaller;
  overflow: auto;
  transform: rotateY(180deg);

